<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', {page = "404"}); %>
  </head>
  <body>
    <div class="not-found">
      <h1>404</h1>
      <div>
        <a class="nav" href="javascript:history.go(-1)">Back</a>
      </div>
    </div>
  </body>
</html>
