<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', {page: "article"}); %>
  </head>
  <body>
    <header>
      <a class="nav" href="javascript:history.go(-1)">Back</a>
    </header>
    <main>
      <article>
        <div class="head">
          <h1 class="title"><%= article.title %></h1>
          <p class="date"><%= article.date %></p>
        </div>

        <div class="content"><%- article.content %></div>
      </article>
    </main>
  </body>
</html>
