<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', {page: "index"}); %>
  </head>
  <body>
    <header>
      <p class="nav">/</p>
    </header>
    <main>
      <div class="article-list-container">
        <% articles.forEach(function(title) { %>
        <div class="article-listing">
          <a href="articles/<%= title._id %>"><%= title.title %></a>
          <p><%= title.date %></p>
        </div>
        <% }); %>
      </div>
    </main>
  </body>
</html>

<!--
    1:34 PM, April 28th, 2022
    Whatever you are right now, whomever you're with right now,
    whatever I am right now, whomever I'm with right now.
    There is nothing, and there will be nothing, that can
    stop me from ever loving you. You have been a part of my
    life and you always will be so. Nothing can part us away
    aside from death.
-->
