@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,400;8..60,500;8..60,600&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: black;
  color: white;
  margin: min(2rem, 80px);
  font-family: "Source Serif 4", serif;
}

.nav {
  color: white;
  margin: 0;
}
