.article-list-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.article-listing > a {
  color: white;
  font-weight: 600;
  font-size: 2.5rem;
  text-decoration-thickness: 2px;
}

.article-listing > p {
  margin: 0px;
}
