@import url(/static/styles/global.css);

.article-listing {
  margin-bottom: 32px;
}

.article-listing .link {
  color: white;
  font-weight: 400;
  font-size: 2.5rem;
  font-family: TiemposHeadline-Regular;
  text-decoration-thickness: 2px;
}

.article-listing .date {
  font-family: TiemposHeadline-Light;
  margin: 0px;
}
