input,
textarea {
  padding: 0px;
  border: 0px;
  resize: none;
  overflow: hidden;
  color: white;
  font-family: inherit;
  background: black;
  font-size: 1rem;
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
}

.newarticle-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: min(80%, 700px);
}

.newarticle-form > .head {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.newarticle-form > .head > .title-form {
  font-size: 2.5em;
  font-weight: 600;
  height: 54px;
}

.newarticle-form > .content > .text-form {
  height: 22px;
}

.newarticle-form > .submit-form {
  border: 1px solid #1a1a1a;
  padding: 8px;
}

.newarticle-form > .submit-form:hover {
  background: #1a1a1a;
}
